body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
/* navbar */
.navbar {
  background-color: #5b5378;
  font-family: "Montserrat", sans-serif;
}

.nav-link {
  color: white;
}

/* Cards */
#cards {
  padding: 100px 50px;
  font-family: "Montserrat", sans-serif;
  background-color: whitesmoke;
}
#cards h2 {
  font-size: 2.5rem;
  font-weight: 900;
}

.card-body {
  text-align: center;
}

.cards-column {
  padding: 3% 2%;
}

.card-title {
  font-weight: 900;
}
/* Footer
 */
#footer {
  background-color: #5b5378;
  padding: 20px 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: white;
}

#footer h4 {
  display: inline-block;
}

#footer i {
  margin: 20px 10px;
  color: white;
}
