body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  background-color: #5b5378;
  font-family: "Montserrat", sans-serif;
}

/* Cards */
#cards {
  padding: 50px 200px;
  font-family: "Montserrat", sans-serif;
}
#cards h2 {
  font-weight: 900;
}

.card-body {
  text-align: center;
}

/* Footer
 */
#footer {
  background-color: #5b5378;
  padding: 20px 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#footer h4 {
  display: inline-block;
}

#footer i {
  margin: 20px 10px;
  color: gray;
}
